<div class="container">
	<br/>
	<div class="row">
		<div class="span4">
	  		<app-thumbnail 
	  			number="1" 
	  			style="margin-right : 10px"
	  			[routerLink]="['/edit-program', 1 ]">
	  		</app-thumbnail>
	  	</div>
		<div class="span4">
	  		<app-thumbnail 
	  			number="2" 
	  			style="margin-right : 10px"
	  			[routerLink]="['/edit-program', 2]">
	  		</app-thumbnail>
	  	</div>
	  	<div class="span4">
	  		<app-thumbnail 
	  			number="3"
	  			[routerLink]="['/edit-program', 3 ]">
	  		</app-thumbnail>
	  	</div>
	</div>
	<div class="row">
		<div class="span4">
	  		<app-thumbnail 
	  			number="4" 
	  			style="margin-right : 10px"
	  			[routerLink]="['/edit-program', 4 ]">
	  		</app-thumbnail>
	  	</div>
		<div class="span4">
	  		<app-thumbnail  
		  		number="5" 
		  		style="margin-right : 10px"
		  		[routerLink]="['/edit-program', 5 ]">	
	  		</app-thumbnail>
	  	</div>
	  	<div class="span4">
	  		<app-thumbnail 
	  			number="6"
	  			[routerLink]="['/edit-program', 6 ]"
	  		></app-thumbnail>
	  	</div>
	</div>
	<div class="row">
		<div class="span4">
	  		<app-thumbnail  
	  			number="7" 
	  			style="margin-right : 10px"
	  			[routerLink]="['/edit-program', 7 ]">
	  		</app-thumbnail>
	  	</div>
		<div class="span4">
	  		<app-thumbnail 
	  			number="8" 
	  			style="margin-right : 10px"
	  			[routerLink]="['/edit-program', 8 ]">
	  		</app-thumbnail>
	  	</div>
	  	<div class="span4">
	  		<app-thumbnail 
	  			number="9"
	  			[routerLink]="['/edit-program', 9 ]">
	  		</app-thumbnail>
	  	</div>
	</div>
</div>
