<div class="container">
	{{installation}}
	<div class="row">
		<div class="span4">
	  		<app-thumbnail></app-thumbnail>
	  	</div>
		<div class="span4">
	  		<app-thumbnail></app-thumbnail>
	  	</div>
	  	<div class="span4">
	  		<app-thumbnail></app-thumbnail>
	  	</div>
	</div>
	<div class="row">
		<div class="span4">
	  		<app-thumbnail></app-thumbnail>
	  	</div>
		<div class="span4">
	  		<app-thumbnail></app-thumbnail>
	  	</div>
	  	<div class="span4">
	  		<app-thumbnail></app-thumbnail>
	  	</div>
	</div>
	<div class="row">
		<div class="span4">
	  		<app-thumbnail></app-thumbnail>
	  	</div>
		<div class="span4">
	  		<app-thumbnail></app-thumbnail>
	  	</div>
	  	<div class="span4">
	  		<app-thumbnail></app-thumbnail>
	  	</div>
	</div>
</div>
