<div class="container">
	{{installation}}
	<div class="row">
		<div class="span4">
	  		<app-thumbnail number="1"></app-thumbnail>
	  	</div>
		<div class="span4">
	  		<app-thumbnail number="2"></app-thumbnail>
	  	</div>
	  	<div class="span4">
	  		<app-thumbnail number="3"></app-thumbnail>
	  	</div>
	</div>
	<div class="row">
		<div class="span4">
	  		<app-thumbnail number="4"></app-thumbnail>
	  	</div>
		<div class="span4">
	  		<app-thumbnail  number="5"></app-thumbnail>
	  	</div>
	  	<div class="span4">
	  		<app-thumbnail number="6"></app-thumbnail>
	  	</div>
	</div>
	<div class="row">
		<div class="span4">
	  		<app-thumbnail  number="7"></app-thumbnail>
	  	</div>
		<div class="span4">
	  		<app-thumbnail number="8"></app-thumbnail>
	  	</div>
	  	<div class="span4">
	  		<app-thumbnail number="9"></app-thumbnail>
	  	</div>
	</div>
</div>
